.btn {
  background-color: #2196F3; color: white; padding: 16px;
}
.dropdown {
  position: absolute; display: inline-block;
}
.dropdown-content {
  display: none; position: absolute; background-color: #f1f1f1;
}
